* {
	margin:0;
	padding:0;
	border:0;
}

html {
	padding: 0px;
	margin: 0px;
}

body {
	overflow-x: hidden;
	color: #fff;
	font-size: 16px;
	font-family: Arial, Verdana, Georgia;
	background-color: #25274D;
}

/* link stuff */
a:link {
	color: #2E9CCA;
	text-decoration: none;
}
a:visited {
	color: #2E9CCA;
	text-decoration: none;
}
a:active {
	color: #6ebcde;
	text-decoration: none;
}
a:hover {
	color: #6ebcde;
	text-decoration: none;
}

#topnav {
	width: 100%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	top: 0;
	margin-bottom: 0%;
	text-align: center;
	border-bottom: 2px solid #acd9ec;
	position: fixed;
	background-color: #25274D;
}

#topnav a {
	font-size: 200%;
	padding-left: 2%;
}

#hero, #about, #skills, #projects, #blog, #contact {
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#hero {
	background-image: url("img/herobg.png");
	background-attachment: fixed;
	text-align: center;
	font-size: 300%;
	text-shadow: 4px 4px 8px black;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #29648A;
}

#about {
	margin-top: 0%;
	background-color: #464866;
}

#skills {
	overflow: hidden;
	background-color: #AAABB8;
	color: #25274D;
}

#projects {
	background-color: #29648A;
	overflow: hidden;
}

#projects img {
	padding: 2%;
	border: 1px solid #464866;
	background-color: #25274D;
	min-height: 110px;
	margin: 0%;
}

#blog {
	background-color: #464866;
	overflow: hidden;
}

#contact {
	background-color: #AAABB8;
	color: #25274D;
}

.tablist, .skillslist {
	margin-top: 0.5%;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid #25274D;
	background-color: #35374f;
}

.tablist {
	text-align: center;
}

.tablist a {
	background: inherit;
	border-right: 1px solid #25274D;
	font-size: 150%;
	padding-left: 20px;
	padding-right: 20px;
}

.tablist a:hover {
	background-color: #464866;
}

.firsttab {
	border-left: 1px solid #25274D;
}

.skillslist {
	background-color: #464866;
	color: #AAABB8;
	margin-top: 0;
	padding: 0.5%;
	border-top: none;
	padding-left: 1%;
	min-height: 200px;
}

.skillslist li {
	list-style-type: none;
	margin-left: 5%;
	margin-right: 5%;
	border-top: none;
	background-color:#76b9e0;
	border-top: 1px solid #464866;
	color: #464866;
	font-weight: 600;
	padding: 0.5%;
}

.fiftypercent {
	margin-right: 55% !important;
}

.sixtypercent {
	margin-right: 45% !important;
}

.seventypercent {
	margin-right: 35% !important;
}

.eightypercent {
	margin-right: 25% !important;
}

.ninetypercent {
	margin-right: 15% !important;
}

.contactform {
	margin-left: 5%;
	margin-right: 5%;
}

.contactform input, .contactform textarea {
	color: #25274D;
	background-color: #fff;
	padding: 0.5%;
	display: block;
	width: 60%;
	border-bottom: 1px solid #25274D;
	margin-left: 20%;
	margin-right: 20%;
}

.contactform input[type="submit"] {
	width: 61%; /* What the fuck? */
	background-color: #25274D;
	color: #AAABB8;
}

.contactform textarea {
	min-height: 150px;
	font-family: Arial, Verdana, Georgia;
}

.blogpost {
	background-color: #AAABB8;
	color: #464866;
	float: left;
	margin: 2%;
	padding: 0.5%;
	width: 27%;
	min-height: 450px;
	overflow: hidden;
}

.blogpost p {
	margin-bottom: 2%;
}

.blogpost img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.blogpost a {
	color: #2b6c96;
}

.blogpost a:hover {
	color: #2E9CCA;
}

.more-link {
	font-weight: 600;
	font-size: 125%;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: none;
}

#modal {
	position: fixed;
	background-color: #AAABB8;
	color: #464866;
	width: 80%;
	height: 80%;
	display: none;
	padding: 2%;
	margin-left: 10%;
}